:root {
    --color-orange: #FFB900;
    --color-orange-1: #FF8C00;
    --color-orange-2: #F7630C;
    --color-orange-3: #CA5010;
    --color-orange-4: #DA3B01;
    --color-orange-5: #EF6950;
    --color-orange-6: #D13438;
    --color-orange-7: #FF4343;

    --color-red: #E74856;
    --color-red-1: #E81123;
    --color-red-2: #EA005E;
    --color-red-3: #C30052;
    --color-red-4: #E3008C;
    --color-red-5: #BF0077;
    --color-red-6: #C239B3;
    --color-red-7: #9A0089;

    --color-blue: #0078D7;
    --color-blue-1: #0063B1;
    --color-blue-2: #8E8CD8;
    --color-blue-3: #6B69D6;
    --color-blue-4: #8764B8;
    --color-blue-5: #744DA9;
    --color-blue-6: #B146C2;
    --color-blue-7: #881798;

    --color-green: #0099BC;
    --color-green-1: #2D7D9A;
    --color-green-2: #00B7C3;
    --color-green-3: #038387;
    --color-green-4: #00B294;
    --color-green-5: #018574;
    --color-green-6: #00CC6A;
    --color-green-7: #10893E;

    --color-dark-green: #7A7574;
    --color-dark-green-1: #5D5A58;
    --color-dark-green-2: #68768A;
    --color-dark-green-3: #515C6B;
    --color-dark-green-4: #567C73;
    --color-dark-green-5: #486860;
    --color-dark-green-6: #498205;
    --color-dark-green-7: #107C10;

    --color-brown: #767676;
    --color-brown-1: #4C4A48;
    --color-brown-2: #69797E;
    --color-brown-3: #4A5459;
    --color-brown-4: #647C64;
    --color-brown-5: #525E54;
    --color-brown-6: #847545;
    --color-brown-7: #7E735F;
}